BASE_URL= https://www.airalo.com/
BASE_API_URL= https://sandbox-partners-api.airalo.com/v2
CLIENT_ID= 7e29e2facf83359855f746fc490443e6
CLIENT_SECRET= e5NNajm6jNAzrWsKoAdr41WfDiMeS1l6IcGdhmbb
CLIENT_TOKEN= eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI5NTgiLCJqdGkiOiIwMDllMDc0YTE3ZGU5NjliYmVhNzUxZjk5M2YzMWIxMzY1OWViOTYyOWJmZmY1ZjM5MWQ2YjhmMWRjOWMyZTdmNjdjYjM2ZDJjNWI0YWRkMiIsImlhdCI6MTczOTcxMjU4OC42MDYzMDMsIm5iZiI6MTczOTcxMjU4OC42MDYzMDYsImV4cCI6MTczOTc5ODk4OC42MDMyNTgsInN1YiI6IiIsInNjb3BlcyI6W119.3LYXKEiSEfrLdBtvghdlo-vcy7YZR1vEBRRXcVxPQOYvEP7llN7yo9Ns2nGoFFQtTgNm1GVntJSMiRS9NSAX87lswCyALz8HDdH8gKo4tApO6d6HdYpoFgVIKvL4-VoZoGa9hYC644zAvDlP5mgNXbaGGhVgEcpMwwdlKAT24Ml_UsP5HrtOYpxUL_xzNfBsNWsJq7Lc3bZHB04uqYbmkIc_yCk-8p5BKMNOt9-4UyGtHcOA0cbiNjWLa7o05__5A9xKcfydPqZmPQTXZRLc09_dzai4zVMRz3AIvQdcDbAVfXYPorjsQHQNRtRKqXkZiraehleHuv5F6189INeSg4iKq4dPJuzxqo_mJJgbu8Z-kIvWxLbtG2P0r0zlhN5cLRhwmzC9NmZtRAXp2o4YwhXTYEWcrjIcGA3Y5MKlKJ4SgD7lINmbCz-DQhLTiDxvTaof_yxraV65bd3aEyvZKfWXwIEp_oa6v2xVBnDBar-fb5qCz6Fe1xNRSan1TBbDU1h0zs23dTmomUCScAXD743jtBJPV5OQHx6lnq4a0rtsVh-npQW6FtkTe1jVb7Jss7BTYxWfH_AMRz3obsfuTD0T0wJsF029p8eiY5iJS6-QThpLnW1NFyUo-MhVWUqdqhBxIYvQSfkYKeayOxl6j3zDhhVSldqSPaF3bQ00m0g